* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --grad: linear-gradient(1200deg, rgba(0, 0, 0, 0.897), rgb(221, 41, 41), rgb(141, 2, 2), black);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     padding: 50px 10px;
    background: linear-gradient(1200deg, rgba(0, 0, 0, 0.897), rgb(221, 41, 41), rgb(141, 2, 2), black);
    overflow-x: hidden;
}

.login-container {
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    max-width: clamp(300px,32vw,350px);

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(25px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}


.logo img {
    width: 180px;
}

.logo-container h2 {
    font-size: 22px;
    color: white;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 50%;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    background: gold;
    height: 1px;
}

.divider span {
    margin: 0 5px;
    color: #d4a017;
    font-size: 14px;
}

.logo-container p{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

.logo-footer{
    text-align: center;
}

.logo-footer p{
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}

.logo-footer a{
    text-decoration: none;
    color: white;
}

 .input-box{
    display: flex;
    flex-direction: column;
    gap: 5px;
 }

.input-field{
    position: relative;
    margin-bottom: 10px;
}
.input-field input,.input-field select{
    width: 100%;
    padding: 10px 10px 10px 40px;
    appearance: none;
    border: none;
    outline: none;
    background: rgb(241, 143, 143);
    border-radius: 10px;
    color: white
}
.input-field input::placeholder{
    color: rgba(255,255,255,0.7);
}
.single-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 17px;
}

.pass-icon{
    position: absolute;
        top: 50%;
    right: 10px;
    transform: translateY(-50%);
     font-size: 17px;
}


.login-btn{
     margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
      padding: 10px 5px;
      border-radius: 10px;
       border: none;
    outline: none;}

    .login-btn span{
         font-size: 17px;
    }